<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130556785739-0u0j4j252ic8e0c5rnhf7ljvc5jep427.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130556785739-0u0j4j252ic8e0c5rnhf7ljvc5jep427</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>130556785739-o933d6oqk4sb9f7dt1qravmfcl4o7nr2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRnY8CNYXZtPSwM8uBQ1XV-En7c-pyyvw</string>
	<key>GCM_SENDER_ID</key>
	<string>130556785739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luxidev.aiapp</string>
	<key>PROJECT_ID</key>
	<string>personpilot-281ac</string>
	<key>STORAGE_BUCKET</key>
	<string>personpilot-281ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130556785739:ios:373a1e13aa3560244e89ce</string>
</dict>
</plist>